
<h1><%= @player %> you will play 'rock, paper, scissors' against the computer!</h1>
<h2> Chose rock, paper, or scissors<h2> </br>
<button class="favorite styled"
        type="button">
    ROCK
</button></br></br></br></br>

<button class="favorite styled"
        type="button">
    PAPER
</button></br></br></br></br>


<button class="favorite styled"
        type="button">
    SCISSORS
</button></br></br></br></br>
