
<h1><%= @player %> you will play 'rock, paper, scissors' against the computer!</h1>
<h2> Chose rock, paper, or scissors<h2> </br>
<form action="/game">
<input type="submit" value="ROCK"></br></br></br></br>
</form>

<form action="/game">
<input type="submit" value="PAPER"></br></br></br></br>
</form>


<form action="/game">
<input type="submit" value="SCISSORS"></br></br></br></br>
</form>

